@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Fonts
$gellix-font-family: 'Gellix';
$gellix-fonts-path: './assets/fonts/';
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

@font-face {
  font-family: $gellix-font-family;
  src: url('./assets/fonts/Gellix-Light_R.woff2') format('woff2');
  font-weight: $font-weight-light;
}

@font-face {
  font-family: $gellix-font-family;
  src: url('./assets/fonts/Gellix-Regular_R.woff2') format('woff2');
  font-weight: $font-weight-regular;
  font-style: normal;
}

@font-face {
  font-family: $gellix-font-family;
  src: url('./assets/fonts/Gellix-SemiBold_R.woff2') format('woff2');
  font-weight: $font-weight-semibold;
  font-style: normal;
}
