body.ship-focus .section {
  padding: 0 130px 130px;
}

body.ship-focus .default-content-wrapper {
  max-width: 100%;
}

body.ship-focus .default-content-wrapper p:not(p ~ p) {
  margin: 0 -130px;
}

body.ship-focus .default-content-wrapper p:not(p ~ p) img {
  width: 100%;
}

body.ship-focus .default-content-wrapper > h1:first-child {
  position: absolute;
  left: 0;
  right: 0;
  margin: 100px auto 0;
  word-break: keep-all;
  word-spacing: 9999px;
  text-align: left;
  font-size: 170px;
  color: var(--dark-blue);
  text-transform: uppercase;
  transform: skew(40deg);
  padding-left: 400px;
  line-height: 150px;
}

body.ship-focus .default-content-wrapper > h1:first-child .rotate {
  position: relative;
  white-space: pre-wrap;
  transform: skew(-40deg);
  display: inline-block;
}
